---
pageable: true
per_page: 12
---
<div class="category">
<h2>About</h2>
<p>
I'm Hajime Morrita, a programmer in Tokyo, Japan.
I'm working at Google, for contributing a Web browser called Chrome; specifically on Blink rendering engine. Before joining Google, I was working on some small and no-so-small Tokyo based companies on various areas.
</p>
<p>
On the Web, I'm using <a href="http://github.com/omo">@omo</a> on GitHub, <a href="https://twitter.com/flakiness">@flakiness</a> on Twitter and <a href="mailto:morrita@chromium.org">morrita@</a> on <a href="http://chromium.org/">Chromium land</a>. I also maintain this <a href="http://flakiness.es/">flakiness.es</a> to publish some writings. If you can read Japanese, you might want to skim <a href="http://steps.dodgson.org/">my another blog</a> which is writtern in the exotic language.
</p>
<p>
The background image in the top of the page is borrowed from <a href="http://www.flickr.com/photos/31031835@N08/8728856714/">John Tann's collection</a>. The blog itself is generated using <a href="http://middlemanapp.com/">Middleman</a>, but I admit that I have no idea what I'm doing with this tool :-/
</p>
<p><b>Disclaimer: This blog does not reflect my current or previous employer’s views and opinions.</b</p>
</div>
