<% wrap_layout :layout do %>
<div class="article">
  <h1>
    <div class="article-date"><%= current_article.date.strftime('%b %e, %Y') %></div>
    <%= current_article.title %>
    </h1>
  <%= yield %>
  <div class="social-buttons">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="twitterapi" data-lang="en">Tweet</a>
    <div class="g-plusone" data-annotation="bubble" data-size="medium" data-width="300"></div>
    <div class="fb-like" data-layout="button_count" data-action="like" data-width="450" data-show-faces="false"></div>
  </div>
</div>

<% end %>
